<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}">

  <!-- CSS Styles -->
  <link rel="stylesheet" href="/css/styles.css">
  
  <!-- Font Awesome -->
  <script src="https://kit.fontawesome.com/d59c1ac2c9.js" crossorigin="anonymous"></script>

  <!-- Prismjs -->
  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.24.1/themes/prism-tomorrow.min.css" rel="stylesheet">

  <!-- Dark Mode Setup -->
  <script>
    (function() {
      const darkMode = localStorage.getItem('darkMode');
      if (darkMode === 'enabled') {
        document.documentElement.classList.add('dark-mode');
      }
    })();
  </script>

  <meta property="og:title" content="{{ title | escape }}"/>
  <meta property="og:url" content="https://camilotk.dev.br{{ page.url | url }}" />
  <meta property="og:description" content="{{ description | escape }}" />
  <meta property="og:image" content="https://camilotk.dev.br/images/awesome_default.png" />
  <meta property="og:type" content="article" />
</head>
<body>
  <div class="container">
    <!-- Navigation Bar -->
    <nav class="navbar">
      <button id="hamburger" class="navbar__hamburger">
        <i class="fas fa-bars"></i> <!-- Hamburger Icon -->
      </button>
      <ul class="navbar__links">
        <li><a href="/" class="navbar__link">Home</a></li>
        <li><a href="/palestras" class="navbar__link">Palestras</a></li>
        <li><a href="/favoritos" class="navbar__link">Favoritos</a></li>
      </ul>
      <div class="navbar__actions">
        <button id="dark-mode-toggle" class="navbar__dark-mode-toggle">
          <i class="fas fa-sun" id="dark-mode-icon"></i> <!-- Sun Icon for Light Mode -->
        </button>
      </div>
    </nav>

    <!-- Main Content -->
    <main>
      {{ content | safe }}
    </main>

    <!-- Footer -->
    <footer class="footer">
      <p class="footer__text">🄯 {{ currentYear }} Camilo de Azevedo</p>
      <ul class="footer__social-links">
        <li><a href="https://github.com/Camilotk" class="footer__link" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/2cazevedo/" class="footer__link" target="_blank"><i class="fab fa-linkedin"></i></a></li>
        <li><a href="https://bsky.app/profile/camilotk.dev.br" class="footer__link" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-bluesky"></i></a></li>
        <li><a href="/rss.xml" class="footer__link" target="_blank"><i class="fa-solid fa-rss"></i></a></li>
      </ul>
    </footer>
  </div>

  <!-- Dark Mode and Menu JS -->
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const darkModeToggle = document.getElementById('dark-mode-toggle');
      const darkModeIcon = document.getElementById('dark-mode-icon');
      const hamburger = document.getElementById('hamburger');
      const navbarLinks = document.querySelector('.navbar__links');
      const body = document.documentElement;

      // Dark Mode Toggle
      darkModeToggle.addEventListener('click', () => {
        body.classList.toggle('dark-mode');
        const darkMode = body.classList.contains('dark-mode') ? 'enabled' : 'disabled';
        localStorage.setItem('darkMode', darkMode);

        // Toggle icons based on dark mode state
        if (body.classList.contains('dark-mode')) {
          darkModeIcon.classList.remove('fa-sun');
          darkModeIcon.classList.add('fa-moon');
        } else {
          darkModeIcon.classList.remove('fa-moon');
          darkModeIcon.classList.add('fa-sun');
        }
      });

      // Set the initial state of the dark mode icon based on saved preference
      if (body.classList.contains('dark-mode')) {
        darkModeIcon.classList.remove('fa-sun');
        darkModeIcon.classList.add('fa-moon');
      } else {
        darkModeIcon.classList.remove('fa-moon');
        darkModeIcon.classList.add('fa-sun');
      }

      // Hamburger Menu Toggle
      hamburger.addEventListener('click', () => {
        navbarLinks.classList.toggle('navbar__links--open');
      });
    });
  </script>
</body>
</html>

